// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  a.navbar-brand(href='index.html') 学生信息管理系统
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarResponsive.collapse.navbar-collapse
    ul#exampleAccordion.navbar-nav.navbar-sidenav
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Dashboard')
        a.nav-link(href='index.html')
          i.fa.fa-fw.fa-dashboard
          span.nav-link-text
            | Dashboard
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Components')
        a.nav-link.nav-link-collapse.collapsed(data-toggle='collapse', href='#collapseComponents', data-parent='#exampleAccordion')
          i.fa.fa-fw.fa-wrench
          span.nav-link-text
            | 学生基本信息管理
        ul#collapseComponents.sidenav-second-level.collapse
          li
            a(href='allStuInfo.html') 所有学生信息
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Example Pages')
        a.nav-link.nav-link-collapse.collapsed(data-toggle='collapse', href='#collapseExamplePages', data-parent='#exampleAccordion')
          i.fa.fa-fw.fa-file
          span.nav-link-text
            | 学生成绩管理
        ul#collapseExamplePages.sidenav-second-level.collapse
          li
            a(href='allStuMark.html') 所有学生成绩

    ul.navbar-nav.sidenav-toggler
      li.nav-item
        a#sidenavToggler.nav-link.text-center
          i.fa.fa-fw.fa-angle-left
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(data-toggle='modal', data-target='#exampleModal')
          i.fa.fa-fw.fa-sign-out
          | Logout
